body { font-size: 20pt; }


.container {
    display: flex;
    margin: 1ex !important;
}

.col {
    justify-content: space-around !important;
    flex: 1;
    margin: 1ex !important;
    transform: translateY(20%);
}

.col-name {
    display: flex;
}

.my-list {
    display: flex;
    flex-direction: column;
}


.my-image {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.content {
    margin: 2ex !important;
}

.title {
    font-size: 30pt !important;
}

.c-italic {
    font-style: italic !important;
}

.c-bold {
    font-weight: bold !important;
}

.c-orange-background {
    background-color: orange !important;
}

.c-green-background {
    background-color: green !important;
}

.c-red-background {
    background-color: red !important;
}

.c-blue-background {
    background-color: blue !important;
}

.c-green {
    color: green !important;
}
.c-blue {
    color: blue !important;
}
.c-orange {
    color: orange !important;
}
.c-red {
    color: red !important;
}